@use 'sass:map';
@use '@design-tokens/palette';
@use '@design-tokens/typography';
@use '@/assets/varties';
@use '@vueties/utils/styles';
@use '@vueties/utils/mixins';
@use '@vueties/components/bars/styles' as bar-styles;

// @mixin category-card-background($ids...) {
//   .category-card {
//     @each $id in $ids {
//       &##{$id} {
//         $color: map.get(varties.$category-colors, $id);
        
//         @include palette.color-attribute('background-color', 'tertiary-background');
//         @include mixins.linear-gradient(135deg, $color 1 0%, $color 0.75 100%);
//       }
//     }
//   }
// }

@mixin category-card-colors($ids...) {
  @each $id in $ids {
    &##{$id} {
      $color: map.get(varties.$category-colors, $id);
      
      @include palette.color-attributes((
        'color': $color,
        'background-color': 'background'
      ));
      @include mixins.linear-gradient(135deg, $color 0.05 0%, $color 0 100%);
    }
  }
}

* {
  @extend .inhibit-contextual-touch-action;
}

html {
  $padding-top: env(safe-area-inset-top);
  $padding-bottom: env(safe-area-inset-bottom);
  
  height: calc(100% - $padding-bottom);
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  padding: $padding-top 0 $padding-bottom 0;
  position: relative;
  @include palette.color-attributes((
    'color': 'body',
    'background-color': 'secondary-background'
  ));
}

body, main, #app {
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

body, #app {
  overflow: hidden;
}

.category-card {
  border: none;
  font-size: 1em;
  border-radius: 1em;
  display: inline-block;
  @include category-card-colors('bakery', 'misc', 'salads', 'sauces-and-dips');
}

