@use 'sass:map';
@use '@design-tokens/palette';
@use '@vueties/utils/mixins';

$category-keys: (
  'bakery', 
  'misc', 
  'pastas', 
  'salads', 
  'sauces',
  'soups'
);

$category-colors: (
  'bakery': 'yellow',
  'misc': 'gray',
  'pastas': 'red',
  'salads': 'green',
  'sauces': 'orange',
  'soups': 'mint',
);

@mixin thematize-background($key) {
  $color: map.get($category-colors, $key);
  
  @include mixins.linear-gradient(180deg, $color 0.05 0%, 'secondary-background' 1 75%);
}

@mixin thematize-card($key) {
  $color: map.get($category-colors, $key);
  
  @include palette.color-attributes((
    'color': $color,
    'background-color': 'background'
  ));
  @include mixins.linear-gradient(
    135deg, $color 0 0%, $color 0.05 50%, $color 0 100%
  );
}

@mixin thematize($module) {
  @each $key in $category-keys {
    &##{$key} {
      @if $module == 'cards' {
        @include thematize-card($key);
      } @else if $module == 'backgrounds' {
        @include thematize-background($key);
      }
    }
  }
}

@mixin backgrounds() {
  .category-background {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -100;
    @include thematize('backgrounds');
  }
}
