@use 'sass:map';
@use '@design-tokens/palette';
@use '@design-tokens/typography';
@use '@/assets/varties';
@use '@vueties/utils/styles';
@use '@vueties/utils/mixins';
@use '@vueties/components/bars/styles' as bar-styles;

* {
  @extend .inhibit-contextual-touch-action;
}

html {
  $padding-top: env(safe-area-inset-top);
  $padding-bottom: env(safe-area-inset-bottom);
  
  height: calc(100% - $padding-bottom);
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  padding: $padding-top 0 $padding-bottom 0;
  position: relative;
  @include palette.color-attributes((
    'color': 'body',
    'background-color': 'secondary-background'
  ));
}

body, #app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.vuety-navigation-bar {
  #vnb-title {
    @extend strong, .serif;
  }
}
